<%= form_for([note.video, note]) do |f| %>
  <%= f.hidden_field :video_timestamp %>
  <%= f.hidden_field :id %>
  <input name="_method" type="hidden" value="patch"/>

  <div class="field">
    <%= f.text_area :body, :data => {:provide => "markdown"} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
