<%= form_for([note.video, note]
) do |f| %>
  <%= f.hidden_field :video_timestamp %>
  
  <input name="_method" type="hidden" value="patch"/>

  <div class="field">
    <%= f.label :note %></br>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- give it an explicit action -->