<h1 class="logo-splash">noted</h1>

<div class="new_user_form">
	<%= form_for(@user) do |f| %>
		<%= render 'users/error_messages', object: @user %>
	
		<%= f.text_field :name, :placeholder => "Name" %><br/><br/>

		<%= f.text_field :email, :placeholder => "Email" %><br/><br/>

		<%= f.password_field :password, :placeholder => "Password" %><br/><br/>

		<%= f.submit "Sign Up", :class => "submit-button" %>
	<% end %>
</div>