

<div class="signup-page" style="background-image: none;">
	<h1 class="logo-splash">noted</h1>
	<h3 class="tagline">watch. learn. take better notes.</h3>

	<br>
	<br>

	<div class="new_user_form">
		<%= form_for(@user) do |f| %>
			<%= render 'users/error_messages', object: @user %>
		
			<%= f.text_field :name, :placeholder => "Full Name" %><br/><br/>

			<%= f.text_field :email, :placeholder => "Email" %><br/><br/>

			<%= f.password_field :password, :placeholder => "Password" %><br/></br>

			<div class="login_signup_buttons">
				

				<div id="signup_button">
					<%= f.submit "Sign Up", :class => "submit-button" %>
				</div>
			
		<% end %>
		<br>
			<div id="login_button">
				<%= button_to "Login", "/login", :method => :get %> 
			</div>
		</div>
	</div>
</div>
