	<br>
	<%= form_for(@video) do |f| %>
		<div class="new_video_form">
			<%= f.text_field :name, :placeholder => "Name" %><br>
			<br>
		  <%= f.text_field :description, :placeholder => "Description" %><br>
		  <br>
			<%= f.text_field :link, :placeholder => "Link (mp4 only!)" %><br>
			<br>
			<%= f.text_field :lecture_date, :placeholder => "Lecture Date" %><br>
			<%= f.collection_select :semester_id, Semester.all, :id, :name %>
			<br>
			<div class="submit-button">
				<%= f.submit %>	
			</div>
		</div>
	<% end %>
	</div>
</div>