      <% @video.notes.sort.each do |note| %>
        <% if note.student == @current_user %>
        <div class="note_info">
          <div class="added_note">
            <input type="hidden" class="added_note_timestamp" value="<%= note.video_timestamp %>"></input>
            <input type="hidden" class="added_note_id" value="<%= note.id %>"></input>
            <li id="<%= note.id %>"><%= note.body %></li> 
            <li id="video_timestamp"><%= note.video_timestamp %></li>
            <button class="play_button">Play</button>
            <button class="edit_button">Edit</button>       
            <%= button_to "Delete Note", video_note_path(@video, note), :method => :delete, data: {confirm: "Are you sure?" } %>
          </div>
          <% end %>
          <div class="edit_form">
            <li><%= render 'notes/edit_form', :note => note %></li>
          </div>
          <br>
        </div>
      <% end %>