<div class="index-padding container">

  <%= render "layouts/nav" %>

  <div class="row">

    <div class="col-xs-2">
      <ul>
        <% @semesters.each do |semester| %>
          <li><%= link_to semester.name, filter_semester_path(id: semester.id), method: :post, remote: true %>
        <% end %>
        <li><%= link_to "All", filter_semester_path(id: "all"), method: :post, remote: true  %></li>
      </ul>
    </div>
  
    <div class="col-xs-10 center" id="video_all">

      <%= render 'video_semester' %>

    <div class="js-new-video">
    </div>  

    <div class="js-for-modal">
    </div>
  </div><!-- row -->

  <%= render 'layouts/footer' %>

</div>





