<p id="notice"><%= notice %></p>

<p>

  <strong>Name:</strong>
  <%= @video.name %>
  <br>

  <%= video_tag( @video.link, controls: true, height: '320', width: '320', :id => "lecture_video" ) %>

  <p><a href="#" id="new_note">New Note</a></p>

  <!-- is for new forms -->
  <%= render 'notes/new_form' %>

<ul>
  <% @video.notes.each do |note| %>
  <div class="added_note">
    <li><%= note.video_timestamp %></li>
    <li><%= note.body %></li>
    <li><%= link_to "Edit", edit_note_path( note.video.id, note.id) %></li>
  </div>
  <div class="edit_form">
    <li>  <%#= render 'notes/form', :note => note %>
</li>
  </div>
  <% end %>
</ul>

</p>

<%= link_to "Back", videos_path %>