<p id="notice"><%= notice %></p>

<p>
  <input type="hidden" id="video_id" value="<%= @video.id %>"></input>

  <strong>Name:</strong>
  <%= @video.name %>
  <br>

  <%= video_tag( @video.link, controls: true, height: '320', width: '320', :id => "lecture_video" ) %>

  <p>
    <a href="#" id="new_note">New Note</a>
  </p>

  <!-- is for new forms -->
  <div class="new_note">
  <%= render 'notes/new_form' %>
  </div>

  <ul>
    <% @video.notes.each do |note| %>
      <% if note.student == @current_user %>
        <div class="added_note">
          <li><%= note.body %></li>
          <li><%= button_to "Edit", edit_note_path(note.video.id, note.id) %><%= button_to "Delete Note", video_note_path(@video, note), :method => :delete, data: {confirm: "Are you sure?" } %></li>
        </div>
      <% end %>
      <div class="edit_form">
        <li><%= render 'notes/edit_form', :note => note %></li>
      </div>
    <% end %>

    <div class="append_note">

    </div>
  </ul>

</p>

<%= link_to "Edit Video", edit_video_path(@video) %>
<%= link_to "Main", videos_path %>