

<!-- starting actual page -->
<div class="container">
  <div class="row">
    <!-- BEGINNING OF VIDEO SECTION -->

    <div id="video-container" class="col-xs-9"> 

      <!-- ACTUAL VIDEO -->
      <div id="video">    
        <h3><%= @video.name %></h3>
        <input type="hidden" id="video_id" value="<%= @video.id %>"></input>
        <div class="vjs_video_4_html5_api" autoplay="true" preload="auto">
            <%= videojs_rails sources: {mp4: @video.link} %>
        </div>
      </div>

      <!-- PLAYBAR STUFF -->
      <div id="playbar">
          <div id="timeline">
            <div class="new_note">
              <button>New Note</button>
            </div>
            <div class="marker"></div>
          </div>      
      </div>
    </div>

    <!-- END OF VIDEO SECTION -->

    <!-- BEGINNING OF NOTE SECTION -->

    <div id="notes" class="col-xs-3">
      <div id="note-all" class="note_all">
        <%= render "videos/note_all" %>   
      </div>
      <!-- is for NEW notes -->
      <div id="new-note">
        <div class="new_note_form new_note">         
          <%= render 'notes/new_form' %>
        </div>
        <div class="render-edit-form">
        </div>
      </div>      
    </div>
      <% if current_user.permission_type == "instructor" %>
        <%= link_to "Edit Video", edit_video_path(@video) %>
      <% end %>
    <!-- END OF NOTE SECTION -->

  </div>
</div>



